$ffPTsans: 'PT Sans', sans-serif;
$ffPlayF: 'Playfair Display', serif;
$container: 1107px;
$color: #fff;

$bp-1: 900px;
$bp-2_helper: 825px;
$bp-3: 612px;
$bp-4_helper: 425px;
$bp-helper-1: 1550px;
$bp-helper-2: 1280px;
$bp-helper-3: 991px;
$bp-helper-4: 718px;

