@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    display: none;
  }
}

.header__left {
  width: 60%;
}

.header__right {
  width: 40%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_link {
  padding: 14px 20px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  color: #969696;
}

.header_link:hover {
  color: rgba(202, 184, 82, 0.74);
}

.right-list {
  position: relative;
}

.right-list::after {
  content: url(../icons/sharp-log-in.svg);
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
}

.left-list {
  position: relative;
}

.left-list::after {
  content: url(../icons/phone-outline.svg);
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
}

.list-border {
  position: relative;
}

.list-border::before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  background-color: #969696;
  height: 12px;
  top: 15px;
  right: 0;
}

.page {
  position: relative;
  top: 40px;
  right: 0;
  width: 100%;
}

@media (max-width: 900px) {
  .page {
    top: 0;
  }
}

.body-header {
  width: 100%;
  background-color: #0F0F0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.body-header__left {
  width: 30%;
}

@media (max-width: 900px) {
  .body-header__left {
    width: 22%;
  }
}

@media (max-width: 825px) {
  .body-header__left {
    width: 70%;
  }
}

.body-header__right {
  width: 70%;
  position: relative;
}

@media (max-width: 900px) {
  .body-header__right {
    width: 78%;
  }
}

@media (max-width: 825px) {
  .body-header__right {
    width: 30%;
  }
}

.body-header_link {
  display: block;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 30px 20px;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.body-header_link:hover {
  background-color: #1F1F1F;
}

@media (max-width: 825px) {
  .body-header__nav {
    display: none;
  }
}

.body-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  .body-header__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 825px) {
  .body-header__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  position: absolute;
  background: none;
  border-radius: 0;
  padding: 0;
}

.burger::after, .burger::before,
.burger span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.burger::before, .burger::after {
  content: '';
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.burger.active span {
  opacity: 0;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::before, .burger.active::after {
  top: 50%;
}

@media (max-width: 825px) {
  .burger {
    display: block;
  }
}

.logo {
  display: block;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  padding: 15px;
}

.body-title {
  background-image: url(../img/main-banner.jpg);
  width: 100%;
  min-height: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 612px) {
  .body-title {
    min-height: 550px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 320px;
  border: #fff solid 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 173px;
}

@media (max-width: 612px) {
  .title {
    margin-top: 35px;
  }
}

@media (max-width: 425px) {
  .title {
    border-left: none;
    border-right: none;
  }
}

.title-site {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 7px;
  position: relative;
}

.title-site::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subtitle-site {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 7px;
}

.body-title__text {
  width: 730px;
  margin: 0 auto;
  margin-top: 62px;
}

@media (max-width: 900px) {
  .body-title__text {
    width: 600px;
  }
}

@media (max-width: 612px) {
  .body-title__text {
    width: 400px;
    margin-top: 35px;
  }
}

@media (max-width: 425px) {
  .body-title__text {
    width: 300px;
  }
}

.about-us {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
}

@media (max-width: 825px) {
  .about-us {
    line-height: 20px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .about-us {
    font-size: 12px;
  }
}

.season {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1330px;
}

@media (max-width: 1280px) {
  .season {
    display: none;
  }
}

.season__top_left {
  width: 55%;
}

@media (max-width: 1280px) {
  .season__top_left {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .stl__title {
    margin-top: 50px;
  }
}

.title-block {
  text-align: center;
  margin-top: 45px;
  padding-bottom: 35px;
  position: relative;
}

.title-block::before {
  display: block;
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 120px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title-text {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.stl__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.watch {
  max-width: 215px;
  margin: 25px 0 40px 0;
}

.louis {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-top: 10px;
  line-height: 20px;
}

.cash {
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #D0D0D0;
  margin-top: 10px;
}

.season__top-right {
  background-image: url(../img/first-banner.jpg);
  width: 45%;
}

@media (max-width: 1280px) {
  .season__top-right {
    display: none;
  }
}

.sbr__title {
  margin-top: 100px;
}

@media (max-width: 1280px) {
  .sbr__title {
    margin-top: 10%;
  }
}

.sbr__text {
  text-align: center;
  width: 471px;
  margin: 0 auto;
  margin-top: 35px;
}

.sbr__btn {
  text-align: center;
  margin-top: 61px;
}

.btn_season {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: solid 1px #fff;
  padding: 12px 28px;
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
}

.btn_season:hover {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
}

.str__title {
  margin-top: 50%;
}

.str__btn {
  text-align: center;
  margin-top: 8%;
}

.season__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54.9%;
}

@media (max-width: 1280px) {
  .season__top {
    height: 50%;
  }
}

.season__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45.1%;
}

@media (max-width: 1280px) {
  .season__bottom {
    height: 50%;
  }
}

.season__bottom-left {
  width: 45%;
  background-image: url(../img/second-banner.jpg);
}

@media (max-width: 1280px) {
  .season__bottom-left {
    display: none;
  }
}

.season__bottom-right {
  width: 55%;
}

@media (max-width: 1280px) {
  .season__bottom-right {
    display: none;
  }
}

.main_text {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  color: #fff;
}

.new {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 50px;
}

.new__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: auto;
}

@media (max-width: 1550px) {
  .new__content {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .new__content {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .new__content {
    width: 20%;
  }
}

.new__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our {
  background-color: #0F0F0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: auto;
}

@media (max-width: 1550px) {
  .our__content {
    width: 45%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1280px) {
  .our__content {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .our__content {
    width: 20%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.brend {
  margin: 30px 0 30px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F0F0F;
}

.footer-btn {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  color: #D0D0D0;
  font-weight: 700;
  padding: 17px;
}

.foot {
  background-image: url(../img/footer-banner.jpg);
  background-color: #000;
  height: auto;
  padding-bottom: 15px;
}

.foot__container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1550px) {
  .foot__container {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .foot__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

.foot__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot__column-1 {
  width: 33.333%;
  padding-left: 12px;
}

@media (max-width: 1280px) {
  .foot__column-1 {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .foot__column-1 {
    display: none;
  }
}

.foot__column-2 {
  width: 33.333%;
}

@media (max-width: 1280px) {
  .foot__column-2 {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .foot__column-2 {
    width: 50%;
    padding-left: 12px;
  }
}

@media (max-width: 425px) {
  .foot__column-2 {
    display: none;
  }
}

.foot__column-3 {
  width: 33.333%;
}

@media (max-width: 1280px) {
  .foot__column-3 {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .foot__column-3 {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .foot__column-3 {
    width: 100%;
    padding-left: 12px;
  }
}

.foot_title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin: 80px 0 40px 0;
}

.foot_text {
  padding: 0 15px 0 0;
  color: #fff;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 37px;
}

.foot_btn {
  font-family: "PT Sans", sans-serif;
  color: #D0D0D0;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #0F0F0F;
  margin: 0 10px 30px 0;
  display: inline-block;
}

.e-mail {
  width: 210px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 20px;
  color: #D0D0D0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

.e-mail::-webkit-input-placeholder {
  color: #D0D0D0;
  font-family: "PT Sans", sans-serif;
}

.e-mail:-ms-input-placeholder {
  color: #D0D0D0;
  font-family: "PT Sans", sans-serif;
}

.e-mail::-ms-input-placeholder {
  color: #D0D0D0;
  font-family: "PT Sans", sans-serif;
}

.e-mail::placeholder {
  color: #D0D0D0;
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 900px) {
  .e-mail {
    width: 140px;
  }
}

.e-mail_btn {
  width: 140px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #000;
}

form {
  padding-right: 12px;
}

@media (max-width: 425px) {
  form {
    text-align: center;
  }
}
